@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: Manrope, sans-serif !important;
}
html,
body {
  font-family: Manrope, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

button {
  cursor: pointer;
}